/forum/cache/*.php
/forum/config.php
/wordpress/wp-config.php
/wordpress/.htaccess
/wordpress/wp-content/uploads/*
/wp-content/themes/ripple/assets/json/rippleChartsApiData.json
/tools/api/app.js
/tools/api/node_modules
/tools/api/package.json
