.learn-more {
    text-align: right;
}
.learn-more a {
    text-align: right;
    color: #4983B2;
    font-size: 12px;
}

/* Banner ----------------------------------------------------*/

.banner-holder{
	background: url(../img/banner-bg.png) repeat-x;
	height: 423px;
    min-width: 960px;
}

.banner-holder .bg-holder{
	background: url(../img/map-bg.png) center center no-repeat;
	height: 100%;
	width: 100%;
}

.banner-holder .bg-holder .wrapper{
	height: 100%;
}

.banner-holder .tagline{
	position: absolute;
	top: 100px;
	left: 0px;
	width: 960px;
	font-family: 'OpenSansRegular';
	font-size: 50px;
	line-height: 1.3em;
	color: #fff;
	text-align: center;
	display: block;
	text-shadow: 0px 0px 14px rgba(0, 0, 0, .5);
}

.banner-holder .call-to-action {
    position: absolute;
    top: 205px;
    left: 380px; /* 960 / 2 - 200 / 2*/
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border: 1px solid #333768;
    text-shadow: 0 -1px 1px #272727;
    text-decoration: none;

    font-family: OpenSansRegular;
    font-weight: bold;

    -moz-box-shadow: inset 0 2px 1px #5d8caa;
    -webkit-box-shadow: inset 0 2px 1px #5d8caa;
    box-shadow: inset 0 2px 1px #5d8caa;

    background: #367196; /* Old browsers */
    background: -moz-linear-gradient(top, #367196 0%, #0f445c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#367196), color-stop(100%,#0f445c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #367196 0%,#0f445c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #367196 0%,#0f445c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #367196 0%,#0f445c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #367196 0%,#0f445c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367196', endColorstr='#0f445c',GradientType=0 ); /* IE6-9 */
}

.banner-holder .call-to-action:hover {
    -moz-box-shadow: 0 0 5px 1px rgba(95,95,95,0.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(95,95,95,0.5);
    box-shadow: 0 0 5px 1px rgba(95,95,95,0.5);
}

.banner-holder .call-to-action .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-holder .call-to-action .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    opacity: 0;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;

    -moz-box-shadow: inset 0 2px 1px #82b1cf;
    -webkit-box-shadow: inset 0 2px 1px #82b1cf;
    box-shadow: inset 0 2px 1px #82b1cf;

    background: -moz-linear-gradient(top,  #649fc5 0%, #3a759b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#649fc5), color-stop(100%,#3a759b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #649fc5 0%,#3a759b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #649fc5 0%,#3a759b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #649fc5 0%,#3a759b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #649fc5 0%,#3a759b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#649fc5', endColorstr='#3a759b',GradientType=0 ); /* IE6-9 */
}
.banner-holder .call-to-action:hover .hover {
    opacity: 1;
}

/* Main buttons ----------------------------------------------------*/

.main-buttons{
	display: inline-block;
    width: 100%;
	background: url(../img/home-hor-line.png) bottom center no-repeat;
	padding: 10px 0 20px;
	margin-bottom: 20px;
}

.main-buttons li{
	display: block;
	float: left;
}

.main-buttons a{
	display: block;
	width: 240px;
	height: 100px;
	margin-left: 70px;
}



.main-buttons li.bitcoin a{
	background: url(../img/button-bitcoin.png) no-repeat ;
}

.main-buttons li.bitcoin a:hover{
	background-position: 0px -100px;
}

.main-buttons li.bitcoin a:active{
	background-position: 0px -200px;
}

.main-buttons li.merchants a{
	background: url(../img/button-mer.png) no-repeat;
}

.main-buttons li.merchants a:hover{
	background-position: 0px -100px;
}

.main-buttons li.merchants a:active{
	background-position: 0px -200px;
}

.main-buttons li.developers a{
	background: url(../img/button-dev.png) no-repeat;
}

.main-buttons li.developers a:hover{
	background-position: 0px -100px;
}

.main-buttons li.developers a:active{
	background-position: 0px -200px;
}

.slide-h1
{
	font-family:  'OpenSansLight','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	margin: 0 0;
	font-size: 36px;
	color: #173847;
}


/* HOME SLIDES ----------------------------------------------------*/

#slides {
    width: 960px;
    overflow: hidden;
}

#slides a {
    color: #4983B2;
    font-size: 12px;
}

#slides .slide {
    position: relative;
    width: 560px;
    float: left;
}
#slides .slide ul {
    margin: 0;
}
#slides .rs-carousel-runner {
	width: 426px;
	margin-right: 60px;
}

#slides .rs-carousel-runner .rs-carousel-item {
    padding: 0 60px 0 70px;
	height: 380px;
    width: 426px;
    list-style-type: none;
}

#slides .rs-carousel-runner p,
#slides .rs-carousel-runner h1{
	width: 386px;
	margin-left: 20px;
	margin-right: 20px;
}

#slides .pagination {
    padding: 0;
    width:300px;
    min-height: 338px;
    float:left;
    margin-left: 100px;
    background:  url(../img/home-ver-line.png) no-repeat top right;
    list-style-type: none;
}


#slides .pagination li {
	margin-bottom: 15px;
}

#slides .pagination li a {
	display: block;
	overflow: hidden;
	line-height: 45px;
	font-family: 'OpenSansLight';
	color: #444;
	text-decoration: none;
}

#slides .pagination li a span {
	display: block;
	float: left;
	line-height: 45px;
	padding-top: 20px;
}

#slides .pagination li a i{
	display: inline-block;
	float: left;
	margin-right: 15px;
	line-height: 45px;
	width: 43px;
	height: 45px;
	background: url(../img/slider-bullets.png) no-repeat 0px 0px;
}

#slides .pagination li a{ outline:0; }

#slides .pagination li a i.one{ background-position: 0 0; }
#slides .pagination li a:hover i.one{ background-position: -61px 0; }
#slides .pagination li.current i.one{ background-position: -121px 0; }
#slides .pagination li.current a:hover i.one{ background-position: -121px 0; }

#slides .pagination li a i.two{ background-position: 0 -60px; }
#slides .pagination li a:hover i.two{ background-position: -61px -60px; }
#slides .pagination li.current i.two{ background-position: -121px -60px; }
#slides .pagination li.current a:hover i.two{ background-position: -121px -60px; }

#slides .pagination li a i.three{ background-position: 0 -120px; }
#slides .pagination li a:hover i.three{ background-position: -61px -120px; }
#slides .pagination li.current i.three{ background-position: -121px -120px; }
#slides .pagination li.current a:hover i.three{ background-position: -121px -120px; }

#slides .pagination li a i.four{ background-position: 0 -180px; }
#slides .pagination li a:hover i.four{ background-position: -61px -180px; }
#slides .pagination li.current i.four{ background-position: -121px -180px; }
#slides .pagination li.current a:hover i.four{ background-position: -121px -180px; }

#slides .pagination li a i.five{ background-position: 0 -240px; }
#slides .pagination li a:hover i.five{ background-position: -61px -240px; }
#slides .pagination li.current i.five{ background-position: -121px -240px; }
#slides .pagination li.current a:hover i.five{ background-position: -121px -240px; }

#slides .pagination li a i.six{ background-position: 0 -300px; }
#slides .pagination li a:hover i.six{ background-position: -61px -300px; }
#slides .pagination li.current i.six{ background-position: -121px -300px; }
#slides .pagination li.current a:hover i.six{ background-position: -121px -300px; }