/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and  (max-width: 991px) {

	.wrapper{
		width: 712px;
	}
	
	/* TABLET NAVIGATION ----------------------------------------------------*/ 
	
	#nav li{
		float: left;
		margin-left: 8px;
	}
	
	#nav li a{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	/* TABLET SUBNAVIGATION ----------------------------------------------------*/ 
	
	#subnav-icons li {
		margin-right: 40px;
	}
	
	/* TABLET MAIN ----------------------------------------------------*/ 
	
	.content-area-left {
	  width: 480px;
	  margin-left: 0px;
	  padding-top: 30px;
	  margin-bottom: 40px;
	  padding-right: 20px;
	}

    .entry-content .block img {
        max-width: 300px;
    }

    .entry-content .block .text {
        width: 400px;
    }

	/* TABLET SLIDES ----------------------------------------------------*/

    #slides {
        width: 712px;
    }

    #slides .slide {
        width: 420px;
    }
    #slides .rs-carousel-runner {
        width: 380px;
        margin-right: 60px;
    }

    #slides .rs-carousel-runner .rs-carousel-item {
        padding: 0 30px 0 30px;
        width: 360px;
    }

    #slides .rs-carousel-runner p,
    #slides .rs-carousel-runner h1{
        width: 330px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #slides .rs-carousel-runner img {
        width: 360px;
    }

    #slides .pagination {
        width: 250px;
        margin-left: 20px;
    }
	
	/* TABLET BANNER ----------------------------------------------------*/ 

    .banner-holder {
        min-width: 712px;
    }
	.banner-holder .tagline{
		width: 712px;
		font-size: 40px;
	}
	
	.banner-holder .call-to-action{
		left: 244px; /* 712 / 2 - 224 / 2*/
	}
	
	/* Tablet Main buttons ----------------------------------------------------*/ 
	
	.home .main-buttons a{
		margin-left: -5px;
	}

	/* TABLET SIDEBAR ----------------------------------------------------*/ 

	#sidebar {
		width: 190px;
		margin-right: 0px;
		margin-bottom: 40px;
		padding-top: 30px;
	}
	
	#sidebar .block {
		padding: 10px;
	}

	/* TABLET WIDGETS  ----------------------------------------------------*/
	
	.widget-cols > li {
		width: 163px;
		margin-right: 20px;
	}

}
