header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #bed3eb;
  background: #fff;
  clear: both;
  z-index: 9999;
  box-shadow: 0 5px 0px rgba(52, 106, 169, 0.09999999999999998);
}
h6 {
  margin: 0;
}
p {
  font-size: 16px;
}
#logo {
  padding-left: 20px;
}
.banner-holder {
  margin-top: 85px;
  min-width: 100%;
  float: left;
}
#main,
footer {
  width: 100%;
  float: left;
}
#main {
  margin-top: 85px;
}
#nav-wallet {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background-color: #346aa9;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
#nav-wallet:hover {
  background-color: #22456e;
}
.menu-top-menu-container {
  float: right;
  padding-top: 30px;
  padding-right: 180px;
}
.menu-top-menu-container ul li {
  float: left;
  margin-left: 55px;
  font-family: 'OpenSansLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: lowercase;
}
.menu-top-menu-container ul li a {
  padding: 5px 15px;
  border-radius: 5px;
}
.menu-top-menu-container ul li.current-menu-item a {
  background: #346aa9;
  color: #fff;
}
.menu-top-menu-container ul li a {
  text-decoration: none;
  color: #346aa9;
}
.home #main {
  padding-top: 55px;
  min-height: auto;
}
#email-collect {
  text-align: center;
  background-color: rgba(52, 106, 169, 0.8);
  border: 1px solid #346aa9;
  position: absolute;
  top: 200px;
  left: 20%;
  width: 60%;
  color: #fff;
  border-radius: 5px;
}
#email-collect h2 {
  text-align: center;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 15px;
}
#email-collect form {
  padding: 15px 0 25px;
}
#email-collect input[type="email"] {
  font-size: 26px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #346aa9;
}
#email-collect input[type="submit"] {
  font-size: 22px;
  padding: 8px;
  background: #a5c800;
  border: 1px solid #90af00;
  color: #fff;
  border-radius: 5px;
}
#ripple-features li {
  width: 24%;
  float: left;
  margin-right: 1%;
}
#ripple-features li h1 {
  text-align: center;
  margin: 0;
}
#ripple-features li img {
  width: 100%;
}
#ripple-features li#simple img {
  width: 75%;
}
#ripple-features li#open img {
  width: 60%;
}
#ripple-features li .feature-image {
  text-align: center;
  vertical-align: middle;
  height: 180px;
  line-height: 180px;
}
footer {
  background: #346aa9;
  box-shadow: none;
  border-top: 1px solid #1c395b;
}
.widget-block h4.heading {
  color: #fff;
  border-bottom-color: #fff;
  margin: 0;
}
