@blue:#346AA9;
@darkblue:#253A4F;
@green:#a5c800;
@orange:#d97500;

header{
    width:100%;
    position: fixed;
   	border-bottom:1px solid lighten(@blue,40%);
   	background:#fff;
   	clear:both;
   	z-index: 9999;
   	box-shadow: 0 5px 0px fadeout(@blue,90%);
}

h1, h2, h3,h4,h5, h6{
	margin:0;
	line-height: 1.25em;
}

h3{
	color:@blue;
	line-height: 1.25em;
}

.page h4{
	line-height: 1.8em;
}

.entry-content{
	a{
		color: @blue;
	}
	p{
		margin: 0 0 15px 0;
	}
}

h5{
	font-size:30px;
	font-weight: 300;
	color: @blue;
	margin: 25px 0 15px;
	line-height: 1.25em;
}

h6{
	margin:5px 0 5px;
	color: @orange;
	font-size: 26px;
}

p{
	font-size:17px;
}

.wrapper{
	padding-top: 30px;
}

#logo{
    padding-left: 20px;
}

.banner-holder{
	margin-top: 85px;
	min-width:100%;
	float:left;
}

#main, footer{
	width:100%;
	float:left;
}

#main{
	margin-top: 105px;
	min-height:500px;
}

#nav-wallet{
	position: fixed;
	top:0;
	right:0;
	padding: 5px 15px;
	background-color:@blue;
	color: #fff;
	font-size:18px;
	text-decoration: none;
	&:hover{
		background-color: darken(@blue,15%);
	}
}

.menu-top-menu-container{
    float:left;
    padding-top: 30px;
}

.menu-top-menu-container ul li{
    float:left;
    margin-left:55px;
    font-family:  'OpenSansLight','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-transform: lowercase;
    a{
    	padding:5px 15px;
    	border-radius: 5px;
    }
    &.current-menu-item a, &.current_page_parent a{
    	background:@blue;
    	color: #fff;

    }
}

.menu-top-menu-container ul li a{
    text-decoration: none;
    color: @blue;

}

//home page styling

.home #main{
	margin-top: 55px;
	min-height: auto;
}

#email-collect{
	text-align: center;
	background-color: fadeout(@darkblue,20%);
	border:1px solid @darkblue;
	position: absolute;
	top:200px;
	left:20%;
	width:60%;
	color: #fff;
	border-radius: 5px;
	h2{
		font-size: 24px;
		text-align: center;
		color:#fff;
		margin:5px 0 15px 0;
		padding:15px;
	}
}

#mc-embedded-subscribe-form{
	padding:0px 0 25px;
	input{
		&[type="email"]{
			font-size:26px;
			padding: 5px;
			border-radius:5px;
			border:1px solid @blue;
		}
		&[type="submit"]{
			font-size:22px;
			padding:8px 15px 5px;
			background:@green;
			border: 1px solid darken(@green,5%);
			color:#fff;
			border-radius:5px;
		}
	}
}



#ripple-features{
	li{
		width:22%;
		float:left;
		margin-right: 3%;
		h1{
			text-align: center;
			margin: 0;
		}
		img{
			width:100%;
		}

		&#simple{
			img{
				width:75%;
			}
		}
		&#open{
			img{
				width:60%;
			}
		}

		&#instant{
			img{
				width:70%;
			}
		}

		.feature-image{
			text-align: center;
			vertical-align: middle;
			height:180px;
			line-height: 180px;
		}
	}
}

//dev page
.page-id-828{
	h5{
		margin-top: 55px;
		margin-bottom: 15px;
		float:left;
		width:100%;
	}

	h4{
		margin-bottom: 25px;
	}
}

#dev-email{
	margin: 25px 0;
	background:@blue;
	padding:25px 25px 15px;
	border-radius: 15px;
	h5{
		color:#fff;
		margin-top:0;
		margin-bottom: 25px;
		font-size:30px;
		font-weight:300;
		text-shadow:0 1px 0 darken(@blue,20%);
	}
	form{
		input{
			&[type="email"]{
				margin-right: 5px;
				float:left;
			}
		}
	}
}

.dev-feature, .mer-feature{
	width:45%;
	float:left;
	margin:0 2.5%;
	.dev-logo{
		height:100px;
		line-height: 100px;
	}
}

.mer-feature{
	height: 350px;
	.mer-img{
		height:200px;
	}
}

//wallet

#wallet{
	background: #fff;
	padding:25px;
	text-align: center;
	border-radius: 15px;
	box-shadow:0 0 15px fadeout(@blue,80%);
	h2{
		font-size:40px;
		color:@green;
		text-align: center;
	}
	h3{
		color:@blue;
		font-size: 22px;
		text-align: center;
	}
	p{
		text-align: center;
		a{
			color:@blue;
		}
	}

	h4{
		text-align: center;
		font-size: 20px;
	}
}

//blog structure

.blog-posts{
	float:left;
	width:67%;
	margin-right: 3%;
	p{
		font-size:17px;
		margin: 5px 0 15px 0;
	}
	a{
		color: @blue;
	}
	.entry-title{
		margin:8px 0 0 0;
		font-size: 30px;
		line-height: 1.25em;
		padding-bottom: 0;
		clear:both;
		a{
			color:@blue;
			text-decoration: none;
		}
	}

	h6{
		font-size: 22px;
	}

	.entry-date{
		display:block;
	}

	article{
		ul{
			li{
				list-style-type:disc;
				padding:3px 0;
			}
		}
		.alignright{
			float: right;
			padding:0 0 0 15px;
		}
		.alignleft{
			float: left
			padding:0 15px 0 0;
		}

		em{
			font-weight: 500;
		}
	}
}

.single-post{
	h1.entry-title{
		font-size: 42px;
	}

	h4{
		color:@orange;
		font-size:36px;
	}

	h5{
		margin: 0;
	}
}

#sidebar{
	float:left;
	width:30%;
	padding-top:15px;
	.block{
		background-color: #fff;
		border:0;
		padding:15px;
		h6{
			color:@green;
			font-size: 26px;
			padding-bottom: 5px;
		}
		a{
			color:@blue;
			font-size: 16px;
		}

		ul{
			li{
				padding: 0 0 10px 0;
			}
		}
	}
	#email-collect{
		background:none;
		border:0;
		position: relative;
		top:auto;
		left:auto;
		width:100%;
		input{
			width:90%;
			&[type="email"]{
				margin-bottom: 15px;
			}
		}
	}


}

//press
.press-by{
	display:block;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: @orange;
	color: #fff;
	padding:0px 3px;
	float:left;
	clear:both;
	font-size:11px;
	margin-top: 5px;
	line-height: 1.5em;
}
.post-type-archive-press{
	.entry-title{
		font-size:25px;
	}
	article{
		margin-bottom: 25px;
	}
}

//footer

footer{
	background: @blue;
	box-shadow: none;
	border-top:1px solid darken(@blue,20%);
	ul.widget-cols{
		margin-bottom: 50px;
	}
}

//footer widgets
.widget-block{
	h4.heading{
		color:#fff;
		border-bottom-color:#fff;
		margin:0;
	}
}

//responsive
@media (max-width: 1023px) {
	.wrapper{
		h1,h2,h3,h4,h5,h6,h7{
			padding-left:0;
			padding-right: 0;
		}
		p{
			padding:0;
		}
	}
	#logo{
		clear:none;
		width:90px;
		img{
			width:100%;
			float:left;
		}
	}
	.menu-top-menu-container{
		padding-right: 0;
		padding-top: 20px;
	}
	.menu-top-menu-container ul li{
		font-size: 16px;
		margin-left: 15px;
		a{
			padding:5px;
		}
	}

	#nav-wallet{
		font-size:16px;
		padding:5px;
	}

	.banner-holder{
		margin-top: 55px;
		.tagline{
			position:relative;
			top:15%;
			font-size:30px;
		}
	}

	#email-collect{
		position: relative;
		top:20%;
		h2{
			font-size: 20px;
			margin-bottom: 0;
		}
		input{
			&[type="email"]{
				margin-bottom: 15px;
			}
		}
	}

	#ripple-features{
		li{
			width:47%;
			.feature-image{
				img{
					width: auto;
					height: 80%;
				}
			}
			&#simple, &#open, &#instant{
				img{
					width:auto;
					height:90%;
				}
			}
		}
	}

	.entry-content .block .text {
		width:auto;
	}

	.mer-feature{
		min-height:450px;
	}
}

@media (max-width: 720px) {
	.wrapper{
		width:100%;

	}

	header{
		position: absolute;
	}

	.content-area, .blog-posts{
		padding:0 15px;
	}
	#logo{
		margin-top: 5px;
		margin-bottom: 5px;
		padding-left: 5px;
		width:80px;
		img{
			width:100%;
			float:left;
		}
	}
	.menu-top-menu-container{
		padding-top:0;
		width:100%;
		border-top:1px solid #ccc;
	}
	.menu-top-menu-container ul li{
		font-size: 14px;
		margin:5px 5px;

		a{
			padding:0px 10px;
		}
	}

	#nav-wallet{
		position: absolute;
		top:0px;
		font-size:12px;
		padding:7px 15px 8px;
		line-height: 1.25em;
	}

	.home #main{
		margin-top:40px;
	}

	#main{
		margin-top: 80px;
	}

	.banner-holder{
		margin-top:40px;
		.tagline{
			width:100%;
			font-size:26px;
		}
	}

	#email-collect{
		width:90%;
		left:5%;
		form{
			input{
				width:90%;
			}
		}
	}
	#ripple-features{
		li{
			width:100%;
			.feature-image{
				img{
					width: auto;
					height: 80%;
				}
			}
			&#simple, &#open{
				img{
					width:auto;
					height:90%;
				}
			}
		}
	}

	.page-id-828{
		.dev-feature{
			width:100%;
		}

		h5{
			margin-top: 15px;
		}

	}

	#dev-email{
		text-align: center;
		padding:5px;
		h5{
			font-size:22px;
			margin-bottom: 5px;
			float:none;
			padding:15px 0;
			margin:0;
		}
		form{
			input{
				width:90%;
				text-align: center;
				float:none !important;
				&[type="email"]{
					margin-bottom: 5px;
				}
				&[type="submit"]{
					margin-left: 0;
				}
			}
		}
	}

	.mer-feature{
		width:100%;
		margin:0;
		min-height:auto;
		height:auto;
		.mer-img{
			height:auto;
		}
	}

	#wallet{
		h2{
			margin:15px 0;
		}
		h3{
			font-size:18px;
		}
		input{
			width:90%;
			&[type="email"]{
				margin-bottom: 15px;
			}
		}
		h4{
			font-size:16px;
		}
	}

	.blog-posts{
		width:95%;
	}

	.single-post{
		h1.entry-title{
			font-size: 30px;
		}

		p{
			.alignright,.alignleft{
				float:none;
				padding:0;
			}
		}

		h6{
			font-size:20px;
		}
	}

	#sidebar{
		width:100%;
	}

	.page table{
		colgroup{
			col{
				width:100% !important;
			}
		}
	}
	footer{
		min-width:100%;
	}

	footer ul.widget-cols > li {
		width:100%;
	}
}