.site-header {
  background-color: @purple;
}
    /* Large desktop */
    @media (min-width: 1200px) { 
 .site-header {
    background-color: @green;
}
     }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { 
.site-header {
  background-color: @red;
}
     }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { 
.site-header {
    background-color: @yellow;
   }
     }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
.site-header {
    background-color: @orange;
   }
     }