// Icons-title
h4.icons-title {
    margin-bottom: 10px;
    line-height: 130%;
}
.icons-title .small {
    font-size: 13px;
    color: #606060;
    position: absolute;
    left: 0;
    right: 0;
}
// icons 
.icons {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    margin: 20px auto;
    min-height: 68px;
    position: relative;
}
// Open
.open {
    background-position: -684px -73px;
    height: 61px;
    width: 61px;
}
aside:hover .open, aside:focus .open, aside:active .open, .open:hover, .open:focus, .open:active {
    background-position: -684px -5px;
}
// P2P
.p2p {
    background-position: -887px -82px;
    height: 57px;
    width: 73px;
}
aside:hover .p2p, aside:focus .p2p, aside:active .p2p, .p2p:hover, .p2p:focus, .p2p:active {
    background-position: -887px -5px;
}
// Straight-through processing
.straight {
    background-position: -222px -70px;
    height: 69px;
    width: 88px;
}
aside:hover .straight, aside:focus .straight, aside:active .straight, .straight:hover, .straight:focus, .straight:active {
    background-position: -222px 11px;
}
// Powerful
.powerful {
    background-position: -760px -73px;
    height: 61px;
    width: 51px;
}
aside:hover .powerful, aside:focus .powerful, aside:active .powerful, .powerful:hover, .powerful:focus, .powerful:active {
    background-position: -760px -5px;
}
// Free
.easy {
    background-position: -601px -73px;
    width: 28px;
}
aside:hover .easy, aside:focus .easy, aside:active .easy, .easy:hover, .easy:focus, .easy:active {
    background-position: -601px -0px;
}
// Payment
.payment {
    background-position: -816px -70px;
    height: 61px;
    width: 66px;
}
aside:hover .payment, aside:focus .payment, aside:active .payment, .payment:hover, .payment:focus, .payment:active {
    background-position: -816px -2px;
}
// Choice
.choice {
    background-position: -393px -70px;
    height: 61px;
    width: 75px;
}

aside:hover .choice, aside:focus .choice, aside:active .choice, .choice:hover, .choice:focus, .choice:active {
    background-position: -393px 1px;
}
// Free
.free {
    background-position: -159px -73px;
    height: 61px;
    width: 60px;
}
aside:hover .free, aside:focus .free, aside:active .free, .free:hover, .free:focus, .free:active {
    background-position: -159px 5px;
}
// Fast
.fast {
    background-position: -387px -70px;
    height: 61px;
    width: 75px;
}
aside:hover .fast, aside:focus .fast, aside:active .fast, .fast:hover, .fast:focus, .fast:active {
    background-position: -387px -2px;
}
// Irreversible
.irreversible {
    background-position: -470px -65px;
    height: 61px;
    width: 56px;
}
aside:hover .irreversible, aside:focus .irreversible, aside:active .irreversible, .irreversible:hover, .irreversible:focus, .irreversible:active {
    background-position: -470px 8px;
}
// Direct-fx
.direct-fx {
    background-position: 1px -69px;
    height: 61px;
    width: 64px;
}
aside:hover .direct-fx, aside:focus .direct-fx, aside:active .direct-fx, .direct-fx:hover, .direct-fx:focus, .direct-fx:active {
    background-position: 1px 2px;
}
// Global
.global {
    background-position: -63px -62px; 
    height: 61px;
    width: 49px;
}
aside:hover .global, aside:focus .global, aside:active .global, .global:hover, .global:focus, .global:active {
    background-position: -63px 11px;
}
// Capture
.real-time {
    background-position: -115px -68px;
    height: 61px;
    width: 45px;
}
aside:hover .real-time, aside:focus .real-time, aside:active .real-time, .real-time:hover, .real-time:focus, .real-time:active {
    background-position: -115px 0px;
}
// secure
.secure {
    background-position: -63px -62px;
    height: 61px;
    width: 49px;
}
aside:hover .secure, aside:focus .secure, aside:active .secure, .secure:hover, .secure:focus, .secure:active {
    background-position: -63px 13px;
}








